
.App {
  width: 800px;
}
* {
  color: #242424;
}
.post-enter {
  transform: scale(0);
}
.post-enter-active {
  transform: scale(1);
  transition: all 150ms ease-in;
}
.post-exit {
  transform: scale(0);
  transition: all 150ms ease-in;
}
.post-exit-active {
  transform: scale(0);
  transition: all 150ms ease-in;
}
.pages-count {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
